.courtItem {
	display: flex;
	height: 4.5rem;
	padding: 0.25rem;
	background-color: var(--color-black-500);
	border-radius: 12px;
	cursor: pointer;
	scale: 0.99;
	transition: all 0.2s;
	border: 1px solid var(--color-black-500);
}

.courtImg {
	height: 100%;
	width: 100px;
	border-radius: 8px 0 0 8px;
	object-fit: cover;
}

.topContainer > p {
	font-weight: bold;
}

.activeCourtItem {
	background-color: var(--color-black-300);
	border-color: var(--color-cyan-light);
	scale: 1;
}

.activeCourtItem .descriptionContainer .topContainer > p {
	color: var(--color-cyan-light);
}

.descriptionContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 0.25rem 0.5rem;
	flex-grow: 1;
}

.descriptionContainer .topContainer,
.descriptionContainer .bottomContainer {
	display: flex;
	justify-content: space-between;
}

.courtDetailsList {
	display: flex;
}
.courtDetailsList > li:not(:last-child) {
	margin-right: 0.5rem;
}

.courtDetailsList li {
	display: flex;
	align-items: center;
	font-size: 0.75rem;
	color: var(--color-gray);
}

.courtDetailsList li p {
}

.courtDetailsList li span {
}

.starIcon {
	color: var(--color-gray);
}

.detailsIcon {
	display: flex;
	height: 15px;
	width: 15px;
	margin-right: 0.25rem;
}

.courtItem:hover {
	background-color: var(--color-black-400);
}

.test {
	padding: 0.25rem 0.5rem;
	border-radius: 50px;
	border: 1px solid tomato;
	background-color: rgb(68, 42, 38);
	color: tomato;
}

.topContainer .timeText {
	font-weight: normal;
	color: var(--color-gray);
}

.tagspansContainer {
	display: flex;
	gap: 0.5rem;
}

.showMobileEventDescription {
	display: none;
	background-color: var(--color-black-300);
	border-radius: 8px;
	margin-top: 0.25rem;
	margin-bottom: 1rem;
	border: 1px solid var(--color-cyan-light);
}

/* MEDIA */
@media screen and (max-width: 1105px) {
	.showMobileEventDescription {
		display: block;
	}
}

@media screen and (max-width: 660px) {
	.courtItem {
		height: 6rem;
	}

	.courtDetailsList {
		flex-direction: column;
		gap: 0.25rem;
	}

	.tagspansContainer {
		align-items: center;
	}
}

@media screen and (max-width: 550px) {
	.courtImg {
		display: none;
	}
}
