.heading {
	padding: 2rem 0;
}

.heading h1 {
	font-size: 3rem;
	margin-bottom: 1rem;
}

.heading p {
	color: var(--color-gray);
}

/* MEDIA */

@media screen and (max-width: 600px) {
	.heading h1 {
		font-size: 2.25rem;
	}
}
