.inputContainer {
	display: flex;
	flex-direction: column;
}

.inputContainer span {
	margin-left: 1rem;
	color: var(--color-gray);
}

.inputContainer input {
	padding: 0.25rem 1rem;
	background-color: var(--color-black-500);
	color: var(--color-white);
	border-radius: 8px;
	border: 1px solid var(--color-black-300);
	outline: none;
	transition: all 0.2s;
}

input:focus {
	background-color: var(--color-black-400);
	border-color: var(--color-cyan-light);
}
